HELP.md
target
.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

nbproject/private/
nbbuild/
dist/
nbdist/
nb-gradle/
build/
src/main/**/build/
src/test/**/build/

dist
tmp
out-tsc
bazel-out

node_modules
npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode

.angular
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings

.DS_Store
Thumbs.db

application.properties
.prettierrc
*.pem
certs
jail.conf
nginx-http-auth.conf

photos-backup