.open-account-mobile {
  position: relative;
}

.open-account-mobile::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 10;
  background-image: url("/open-account-background.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@media (min-width: 1024px) {
    .open-account-mobile::before {
        z-index: -1;
    }
}