<div class="flex-col flex justify-center text-center bg-black text-white w-screen">
    <div class="w-screen bg-white h-[1px]"></div>
    <div class="flex flex-col w-full pl-5 md:px-10 items-start text-left py-2">
        <p class="font-roboto font-medium text-lg text-white pt-2 text-nowrap">Zmiana ustawień karty</p>
        <p class="font-roboto font-light text-md text-white w-3/4">Zmień kod pin, limity transakcji lub przypisane konto
            do wybranej karty.</p>
    </div>
    <div class="w-screen bg-white h-[1px]"></div>
    <div class="flex flex-row w-screen">
        <div class="flex flex-col xl:flex-row w-full h-full xl:justify-between">
            <div class="flex flex-col relative p-10 z-30 space-y-5"
                (click)="card.showingCardSite = card.showingCardSite === 'front' ? 'back' : 'front'">
                <p class="font-salsa text-white text-2xl">{{card.publisher?.toUpperCase()}} {{card.type}}</p>
                <div class="flex flex-col relative cursor-pointer z-30 w-80 h-48 max-xl:self-center"
                    [@rotateCard]="card.showingCardSite">
                    <img class="object-cover w-full h-full shadow-gray-400 shadow-sm rounded-2xl z-10 pointer-events-none"
                        [ngClass]="{'opacity-50': card.status === 'suspended'}"
                        [src]="card.showingCardSite==='front' ? card.image : card.backImage" alt="user-single-card">
                    @if(card.showingCardSite === 'front') {
                    <div class="absolute top-1 left-2 flex flex-row items-center p-2 bg-opacity-75 rounded-md z-20">
                        <img class="w-4 h-4 pointer-events-none" src="icon.png" alt="Quantum Trust Logo" />
                        <p [ngClass]="{'text-black': card.image === 'mastercard-standard.png'}"
                            class="font-salsa text-xs leading-none pt-2 pl-2">Quantum Trust</p>
                    </div>
                    <p class="font-courier text-xl text-silver text-shadow absolute z-20 bottom-10" [ngClass]="{
                        'left-8': card.publisher === 'Visa', 
                        'left-4': card.publisher === 'Mastercard'
                    }">
                        {{card.id | cardIdFormat}}</p>
                    <p class="font-courier text-md text-silver text-shadow absolute z-20" [ngClass]="{
                        'bottom-4 left-32 pl-2': card.publisher === 'Visa', 
                        'bottom-1.5 left-3': card.publisher === 'Mastercard'
                    }">
                        {{card.expirationDate}}
                    </p>
                    <p class="font-courier text-sm text-silver text-shadow absolute z-20" [ngClass]="{
                    'bottom-1 left-8': card.publisher === 'Visa', 
                    '-bottom-1.5 left-3.5': card.publisher === 'Mastercard'
                    }">
                        {{userAccount.name.substring(0,1).toUpperCase()}}.{{userAccount.surname.toUpperCase()}}
                    </p>
                    }
                    @if(card.showingCardSite === 'back') {
                    <p class="absolute font-roboto font-normal text-xs text-black top-14 z-30 counter-rotate" [ngClass]="{
                            'pt-2 left-[125px]': card.publisher === 'Visa', 
                            'pt-3.5 left-28 pr-2': card.publisher === 'Mastercard'}">{{card.cvcCode}}</p>
                    }
                    <i class="absolute top-2 fa-solid text-brown hover:text-light-brown text-2xl cursor-pointer z-30"
                        matTooltip="{{card.status === 'suspended' ? 'Unieważnij zawieszenie karty.' : 'Zawieś kartę'}}"
                        [ngClass]="{
                            'left-2 rotate-y-180': card.showingCardSite === 'back', 
                            'right-2': card.showingCardSite === 'front',
                            'fa-x text-red-500 hover:text-red-300 z-50': card.status === 'unsuspended',
                            'fa-check text-green-500 hover:text-green-300 z-50': card.status === 'suspended'
                        }"></i>
                </div>
            </div>
            <div class="flex flex-col xl:flex-row xl:w-2/3 xl:space-x-10">
                <div class="flex flex-col space-y-5 pt-5 xl:px-20 xl:justify-self-center xl:w-1/2">
                    <div class="flex flex-col items-start w-full">
                        <p class="font-roboto font-light text-md text-left self-center">Limit transakcji internetowych
                        </p>
                        <div class="w-full flex flex-col items-center space-y-5">
                            <div class="relative xl:w-80 2xl:w-100 w-[85%] md:w-[65%] self-center">
                                <input
                                    class="bg-white text-black p-2 w-full rounded-md no-arrows font-roboto font-light"
                                    type="number" min="{{convertService.getTransactionsLimit(getCardSettingsObject())}}"
                                    max="{{convertService.getTransactionsLimit(getCardSettingsObject('max'))}}"
                                    [value]="convertService.getCurrentTransactionLimit(getCardSettingsObject())"
                                    [(ngModel)]="cardSettings.limits.internetTransactionsLimit" required />
                                <span
                                    class="absolute right-3 top-1/2 transform -translate-y-1/2 font-roboto font-light text-black">
                                    {{currentSelectedAccount.currency}}
                                </span>
                            </div>
                            <input
                                class="xl:w-80 2xl:w-100 w-[85%] md:w-[65%] h-2 bg-own-gray rounded-lg appearance-none cursor-pointer slider-thumb select-none"
                                type="range" min="{{convertService.getTransactionsLimit(getCardSettingsObject())}}"
                                max="{{convertService.getTransactionsLimit(getCardSettingsObject('max'))}}"
                                step="{{convertService.getStep(getCardSettingsObject())}}"
                                [value]="convertService.getCurrentTransactionLimit(getCardSettingsObject())"
                                [(ngModel)]="cardSettings.limits.internetTransactionsLimit">
                            <div class="flex justify-between xl:w-80 2xl:w-100 w-[85%] md:w-[65%] mt-2">
                                <span class="text-white">
                                    min. {{convertService.getFormattedTransactionsLimit(getCardSettingsObject())}}
                                    {{currentSelectedAccount.currency}}
                                </span>
                                <span class="text-white">max.
                                    {{convertService.getFormattedTransactionsLimit(getCardSettingsObject('max'))}}
                                    {{currentSelectedAccount.currency}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col items-start w-full">
                        <p class="font-roboto font-light text-md text-left self-center">Limit transakcji gotówkowych</p>
                        <div class="w-full flex flex-col items-center space-y-5">
                            <div class="relative xl:w-80 2xl:w-100 w-[85%] md:w-[65%] self-center">
                                <input
                                    class="bg-white text-black p-2 w-full rounded-md no-arrows font-roboto font-light"
                                    type="number"
                                    min="{{convertService.getTransactionsLimit(getCardSettingsObject('min', 'cash'))}}"
                                    max="{{convertService.getTransactionsLimit(getCardSettingsObject('max', 'cash'))}}"
                                    [value]="convertService.getCurrentTransactionLimit(getCardSettingsObject('min', 'cash'))"
                                    [(ngModel)]="cardSettings.limits.cashTransactionsLimit" required />
                                <span
                                    class="absolute right-3 top-1/2 transform -translate-y-1/2 font-roboto font-light text-black">
                                    {{currentSelectedAccount.currency}}
                                </span>
                            </div>
                            <input type="range"
                                min="{{convertService.getTransactionsLimit(getCardSettingsObject('min', 'cash'))}}"
                                max="{{convertService.getTransactionsLimit(getCardSettingsObject('max', 'cash'))}}"
                                step="{{convertService.getStep(getCardSettingsObject('min','cash'))}}"
                                [value]="convertService.getCurrentTransactionLimit(getCardSettingsObject('min', 'cash'))"
                                [(ngModel)]="cardSettings.limits.cashTransactionsLimit"
                                class="xl:w-80 2xl:w-100 w-[85%] md:w-[65%] h-2 bg-own-gray rounded-lg appearance-none cursor-pointer slider-thumb select-none">
                            <div class="flex justify-between xl:w-80 2xl:w-100 w-[85%] md:w-[65%] mt-2">
                                <span class="text-white">min.
                                    {{convertService.getFormattedTransactionsLimit(getCardSettingsObject('min',
                                    'cash'))}}
                                    {{currentSelectedAccount.currency}}
                                </span>
                                <span class="text-white">max.
                                    {{convertService.getFormattedTransactionsLimit(getCardSettingsObject('max',
                                    'cash'))}}
                                    {{currentSelectedAccount.currency}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col items-start pt-5 xl:justify-self-end xl:px-10 xl:w-1/2 xl:space-y-24 space-y-5">
                    <div
                        class="flex flex-col z-20 xl:w-80 2xl:w-100 w-[85%] md:w-[65%] items-center justify-center self-center">
                        <p class="font-roboto font-light text-md text-center w-full">Przypisane konto bankowe</p>
                        <select
                            class="!font-roboto !font-light !text-black !rounded-lg !h-10 max-lg:!w-full !bg-white !w-full"
                            [(ngModel)]="currentSelectedAccountId" (ngModelChange)="setCurrentSelectedAccount($event)">
                            @for(userAccount of userAccounts; track userAccount.id) {
                            <option class="py-2" value={{userAccount.id}}>
                                {{convertService.getAccountOptionString(userAccount)}}
                            </option>
                            }
                        </select>
                        @if(false) {
                        <p class="font-roboto font-light text-red-500 text-sm pt-5 -pb-5">Wybrane konto jest
                            nieprawidłowe.
                        </p>
                        }
                    </div>
                    <div class="w-full flex flex-col items-center space-y-5">
                        <div
                            class="relative self-center justify-center flex flex-col xl:w-80 2xl:w-100 w-[85%] md:w-[65%]">
                            <p class="font-roboto font-light text-md text-left self-center">Nowy kod PIN</p>
                            <input class="bg-white text-black p-2 w-full rounded-md no-arrows font-roboto font-light"
                                type="number" min={{1111}} max={{99999999}} value={{newPinCode}}
                                [(ngModel)]="newPinCode" #pinCodeInput="ngModel" placeholder="np. 1111" />
                        </div>
                        <div *ngIf="pinCodeInput.invalid && (pinCodeInput.dirty || pinCodeInput.touched)"
                            class="text-red-500 pt-2">
                            <div *ngIf="pinCodeInput.errors?.['min']">Minimalna wartość to
                                1111</div>
                            <div *ngIf="pinCodeInput.errors?.['max']">Maksymalna wartość to
                                99999999</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button
        class="my-10 py-1 border text-xl border-white text-white font-salsa rounded-full hover:bg-gray-600 bg-own-gray mx-5 self-center z-20 px-8">Zapisz</button>
    <div class="w-screen bg-white h-[1px]"></div>
    <div class="flex flex-col w-full pl-5 md:px-10 items-start text-left py-2">
        <p class="font-roboto font-medium text-lg text-white pt-2 text-nowrap">Historia transakcji</p>
        <p class="font-roboto font-light text-md text-white w-3/4">Szybki pogląd transakcji wykonanych wybraną
            kartą.
        </p>
    </div>
    <div class="w-screen bg-white h-[1px]"></div>
    <div class="flex flex-row mb-5 justify-between w-[85%] max-lg:w-[95%] self-center space-x-5 z-30 pt-6">
        <div class="lg:hidden flex flex-row cursor-pointer space-x-2 w-[20%] group"
            (click)="filtersService.setIsMobileFiltersOpened(true)">
            <i class="fa-solid fa-filter text-2xl group-hover:text-gray-400"></i>
            <p class="font-roboto text-white text-lg font-light pt-1 group-hover:text-gray-400">Filtry</p>
        </div>
        <app-sort-expansion class="hidden lg:flex" [transactionsArray]="dailyTransactions" />
        <app-duration-expansion class="hidden lg:flex" [transactionsArray]="dailyTransactions" />
        <app-status-expansion class="hidden lg:flex" [transactionsArray]="dailyTransactions" />
        <app-search-bar class="max-lg:w-[80%] w-1/4" [transactionsArray]="dailyTransactions" />
    </div>
    <div class="flex flex-col w-screen">
        @for(dayTransactionsArray of dailyTransactions; track dayTransactionsArray) {
        @if(dayTransactionsArray[0]) {
        <div class="w-screen h-0.5 bg-gray-400 mb-6"></div>
        <p class="font-roboto font-bold text-2xl text-white pt-3 pl-3 mb-6 self-center pb-6">
            {{dayTransactionsArray[0].date | date: 'dd.MM.yyyy'}},
            {{convertService.getDayFromDate(dayTransactionsArray[0].date)}}</p>
        }
        @for(transaction of dayTransactionsArray; track transaction.id) {
        <div class="flex flex-row justify-between md:w-[85%] w-[95%] self-center py-5">
            <p
                class="font-roboto font-light text-base md:text-lg text-own-gray md:w-1/5 w-auto max-sm:text-left max-sm:text-xs">
                {{transaction.hour}}</p>
            <p
                class="font-roboto font-light text-base md:text-lg text-white sm:w-2/5 w-[30%] max-sm:text-left max-sm:text-xs">
                {{transaction.title}}</p>
            <p class="font-roboto font-medium text-base md:text-lg max-sm:text-left max-sm:w-[30%] max-sm:text-xs"
                [ngClass]="{
                    'text-red-400': transaction.type === 'outgoing', 
                    'text-green-400': transaction.type === 'incoming'}">
                {{transaction.type === 'incoming' ? "+" : "-"}}
                {{convertService.getNumberWithSpacesBetweenThousands(transaction.amount)}}
                {{transaction.currency}}
            </p>
            <div class="flex flex-row rounded-2xl max-sm:w-12 max-sm:h-4 w-20 h-8 mb-5 md:px-1 text-center items-center justify-center flex-shrink-0"
                [ngClass]="{
                            'bg-amber-700': transaction.status === 'blockade', 
                            'bg-gray-400': transaction.status === 'settled'}">
                <p class="font-roboto font-light text-xs pt-2 max-sm:text-xxs max-sm:pt-1">
                    {{transaction.status === 'blockade' ? "Blokada" : "Rozliczona"}}
                </p>
            </div>
        </div>
        }
        }
    </div>
</div>
<app-mobile-filters [transactionsArray]="dailyTransactions" />