<header class="flex justify-between items-center w-full bg-black text-white p-4 relative z-20">
    <div class="relative flex items-center space-x-3 h-full cursor-pointer" routerLink="/home-page"
        routerLinkActive="router-link-active">
        <img class="w-10 h-10" src="icon.png" alt="Quantum Trust Logo" />
        <p class="font-salsa text-xl leading-none flex end-5 !mt-5 items-center">Quantum Trust</p>
    </div>
    <div class="hidden md:block self-center items-center text-center justify-center space-x-5 mt-5">
        <p class="hover:text-white font-roboto text-xl font-extralight cursor-pointer inline-block transition-colors duration-1000"
            [ngClass]="{'text-white': tabName === 'Konta', 'text-own-gray': tabName !== 'Konta'}"
            (click)="changeTabName('Konta')">Konta</p>
        <p class="hover:text-white font-roboto text-xl font-extralight cursor-pointer inline-block ml-4 transition-colors duration-1000"
            [ngClass]="{'text-white': tabName === 'Lokaty', 'text-own-gray': tabName !== 'Lokaty'}"
            (click)="changeTabName('Lokaty')">Lokaty</p>
        <p class="hover:text-white font-roboto text-xl font-extralight cursor-pointer inline-block ml-4 transition-colors duration-1000"
            [ngClass]="{'text-white': tabName === 'Karty', 'text-own-gray': tabName !== 'Karty'}"
            (click)="changeTabName('Karty')">Karty</p>
    </div>
    <div class="flex space-x-5">
        <div class="hidden md:flex space-x-5">
            <button class="border border-white text-white font-salsa rounded-md py-2 px-1 hover:bg-gray-500">Otwórz
                konto</button>
            <button class="border border-gray-500 text-gray-500 font-salsa rounded-md py-2 px-1 hover:bg-white">Zaloguj
                się</button>
        </div>
        <div class="flex md:hidden">
            <button mat-icon-button (click)="drawer.toggle()" class="focus:outline-none">
                <mat-icon class="text-white">menu</mat-icon>
            </button>
        </div>
    </div>
</header>
<mat-drawer-container class="!fixed !right-0 !h-full !w-full !z-10">
    <mat-drawer #drawer mode="over" class="!bg-black !w-full !h-1/2 !rounded-t-none !rounded-3xl" position="end">
        <div class="flex flex-col w-full h-full items-center justify-center">
            <p class="hover:text-white font-roboto text-xl font-extralight transition-colors duration-300 cursor-pointer"
                [ngClass]="{'text-white': tabName === 'Konta', 'text-own-gray': tabName !== 'Konta'}"
                (click)="changeTabName('Konta')">Konta</p>
            <p class="mt-5 hover:text-white font-roboto text-xl font-extralight transition-colors duration-300 cursor-pointer"
                [ngClass]="{'text-white': tabName === 'Lokaty', 'text-own-gray': tabName !== 'Lokaty'}"
                (click)="changeTabName('Lokaty')">Lokaty</p>
            <p class="mt-5 hover:text-white font-roboto text-xl font-extralight transition-colors duration-300 cursor-pointer"
                [ngClass]="{'text-white': tabName === 'Karty', 'text-own-gray': tabName !== 'Karty'}"
                (click)="changeTabName('Karty')">Karty</p>
            <button class="mt-5 border border-white text-white font-salsa rounded-md py-2 px-1 hover:bg-gray-500">Otwórz
                konto</button>
            <button
                class="mt-5 border border-gray-500 text-gray-500 font-salsa rounded-md py-2 px-4 hover:bg-white">Zaloguj
                się</button>
        </div>
    </mat-drawer>
    <div class="bg-opacity-75 h-1/2"></div>
</mat-drawer-container>