<header
    class="sticky z-50 w-full bg-black top-0 flex justify-between items-center text-white p-4 shadow-none border-none">
    <button class="relative flex items-center space-x-3 h-full cursor-pointer" routerLink="/home-page"
        routerLinkActive="active" (click)="changeTabName('Konta')">
        <img class="w-10 h-10" src="icon.png" alt="Quantum Trust Logo" />
        <p class="font-salsa text-xl leading-none flex end-5 !mt-5 items-center">Quantum Trust</p>
    </button>
    <div [ngClass]="{'!hidden' : currentRoute !== '/home-page', 'hidden md:block' : currentRoute === '/home-page'}"
        class="self-center items-center text-center justify-center space-x-10 mt-5">
        <p class="hover:text-white font-roboto text-xl font-light cursor-pointer inline-block transition-colors duration-1000"
            [ngClass]="{'text-white': tabName === 'Konta', 'text-own-gray': tabName !== 'Konta'}"
            (click)="changeTabName('Konta')">Konta</p>
        <p class="hover:text-white font-roboto text-xl font-light cursor-pointer inline-block ml-4 transition-colors duration-1000"
            [ngClass]="{'text-white': tabName === 'Lokaty', 'text-own-gray': tabName !== 'Lokaty'}"
            (click)="changeTabName('Lokaty')">Lokaty</p>
        <p class="hover:text-white font-roboto text-xl font-light cursor-pointer inline-block ml-4 transition-colors duration-1000"
            [ngClass]="{'text-white': tabName === 'Karty', 'text-own-gray': tabName !== 'Karty'}"
            (click)="changeTabName('Karty')">Karty</p>
    </div>
    <div class="flex space-x-5">
        <div class="hidden md:flex space-x-5">
            <button class="border border-white text-white font-salsa rounded-md py-2 px-1 hover:bg-gray-500"
                [ngClass]="{'!hidden' : currentRoute === '/open-account'}" routerLink="/open-account"
                routerLinkActive="active">
                Otwórz konto
            </button>
            <button class="border border-gray-500 text-gray-500 font-salsa rounded-md py-2 px-4 hover:bg-white"
                [ngClass]="{'!hidden' : currentRoute === '/login'}" routerLink="/login" routerLinkActive="active">
                Zaloguj się
            </button>
        </div>
        <div class="flex md:hidden bg-black">
            <button mat-icon-button (click)="toggleDrawer()" class="focus:outline-none">
                <mat-icon class="text-white">menu</mat-icon>
            </button>
        </div>
    </div>
</header>
<mat-drawer-container class="!fixed !right-0 !h-full !w-full !z-[1000] !bg-black"
    [ngClass]="{'!hidden': drawer.opened === false, '!block': drawer.opened === true}">
    <mat-drawer #drawer mode="over" class="!bg-black !w-full !h-full !rounded-none" position="end">
        <div class="flex flex-col w-full h-full items-center justify-center bg-black">
            <p class="hover:text-white font-roboto text-xl font-light transition-colors duration-300 cursor-pointer"
                [ngClass]="{
                    'text-white': tabName === 'Konta', 
                    'text-own-gray': tabName !== 'Konta',
                    'hidden' : currentRoute !== '/home-page'
                }" (click)="changeTabName('Konta'); toggleDrawer();">
                Konta
            </p>
            <p class="mt-5 hover:text-white font-roboto text-xl font-light transition-colors duration-300 cursor-pointer"
                [ngClass]="{
                    'text-white': tabName === 'Lokaty', 
                    'text-own-gray': tabName !== 'Lokaty',
                    'hidden' : currentRoute !== '/home-page'
                }" (click)="changeTabName('Lokaty'); toggleDrawer();">
                Lokaty
            </p>
            <p class="mt-5 hover:text-white font-roboto text-xl font-light transition-colors duration-300 cursor-pointer"
                [ngClass]="{
                    'text-white': tabName === 'Karty', 
                    'text-own-gray': tabName !== 'Karty', 
                    'hidden' : currentRoute !== '/home-page'
                }" (click)="changeTabName('Karty'); toggleDrawer();">
                Karty
            </p>
            <button class="mt-5 border border-white text-white font-salsa rounded-md py-2 px-1 hover:bg-gray-500"
                [ngClass]="{'!hidden' : currentRoute === '/open-account'}" routerLink="/open-account"
                routerLinkActive="active">
                Otwórz konto
            </button>
            <button class="mt-5 border border-gray-500 text-gray-500 font-salsa rounded-md py-2 px-4 hover:bg-white"
                [ngClass]="{'!hidden' : currentRoute === '/login'}" routerLink="/login" routerLinkActive="active">
                Zaloguj się
            </button>
        </div>
    </mat-drawer>
</mat-drawer-container>