@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .md\:\!mt-15 {
    margin-top: 3.75rem !important;
  }
}

.font-roboto {
  font-family: "Roboto";
}

.font-salsa {
  font-family: "Salsa";
}

.font-walter {
  font-family: "Walter Turncoat";
}

.font-viga {
  font-family: "Viga";
}

.text-own-gray {
  color: rgb(116, 125, 130);
}

.border-own-gray {
  border-color: rgb(116, 125, 130);
}

.bg-own-gray {
  background-color: rgb(116, 125, 130);
}

.icon-3x {
  transform: scale(3);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
}
