@tailwind base;
@tailwind components;
@tailwind utilities;
@media (min-width: 768px) {
  .md\:\!mt-15 {
    margin-block-start: 3.75rem !important;
  }
}
.font-roboto {
  font-family: "Roboto";
}
.font-salsa {
  font-family: "Salsa";
}
.font-walter {
  font-family: "Walter Turncoat";
}
.font-viga {
  font-family: "Viga";
}
.font-courier {
  font-family: "Courier";
}
.text-own-gray {
  color: rgb(116, 125, 130);
}
.border-own-gray {
  border-color: rgb(116, 125, 130);
}
.bg-own-gray {
  background-color: rgb(116, 125, 130);
}
.icon-3x {
  transform: scale(3);
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}
.text-silver {
  color: rgba(192, 192, 192, 255);
}
.counter-rotate {
  transform: rotateY(180deg);
}
.open-account-mobile {
  position: relative;
}
.open-account-mobile::before {
  content: " ";
  display: block;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0.2;
  z-index: 10;
  background-image: url("https://192.168.0.14:8443/api/media/public/open-account-background.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
@media (min-width: 1024px) {
  .open-account-mobile::before {
    z-index: -1;
  }
}
.login-mobile {
  position: relative;
}
.login-mobile::before {
  content: " ";
  display: block;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0.2;
  z-index: 10;
  background-image: url("https://192.168.0.14:8443/api/media/public/login-background.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
@media (min-width: 1024px) {
  .login-mobile::before {
    z-index: -1;
  }
}
.mat-expansion-indicator svg {
  fill: #ffffff !important;
}
.mdc-radio__outer-circle,
.mdc-radio__inner-circle {
  border-color: white !important;
}
.slider-thumb::-webkit-slider-thumb {
  inline-size: 20px;
  block-size: 20px;
  background: gray;
  border: 2px solid #000;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.slider-thumb::-moz-range-thumb {
  inline-size: 20px;
  block-size: 20px;
  background: gray;
  border: 2px solid #000;
  cursor: pointer;
}
.rotate-y-180 {
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in-out;
}
.rounded-inherit {
  border-radius: inherit;
}
