@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .md\:\!mt-15 {
        margin-top: 3.75rem !important;
    }
}

.font-roboto {
  font-family: 'Roboto';
}

.font-salsa {
  font-family: 'Salsa';
}

.text-own-gray {
  color: #747d82;
}
