<div *ngIf="globalTransactionsFiltersService.isMobileFiltersOpened"
    class="flex flex-col z-50 inset-0 fixed bg-black w-screen h-screen overflow-y-auto md:hidden">
    <div class="flex flex-row w-[85%] self-center p-5">
        <p class="font-roboto font-medium text-lg text-white">Filtry</p>
        <div class="flex flex-grow"></div>
        <i class="fa-solid fa-x text-lg text-white hover:text-gray-400 cursor-pointer"
            (click)="globalTransactionsFiltersService.isMobileFiltersOpened = false"></i>
    </div>
    <div class="flex flex-col justify-between w-screen space-y-10">
        @for(filter of globalTransactionsFiltersService.acceptedFiltersArray; track filter) {
        <div class="flex flex-row text-center text-xl cursor-pointer text-white hover:text-gray-400 w-full justify-center"
            (click)="
                    globalTransactionsFiltersService.setAppliedFilter(filter, globalTransactionsFiltersService.actualSearchedPhrase);
                    globalTransactionsFiltersService.isMobileFiltersOpened = false
            " [ngClass]="{'!text-gray-400' : filter === globalTransactionsFiltersService.actualAppliedFilter}">
            <p class="font-roboto text-md">{{filter}}</p>
        </div>
        }
    </div>
</div>